In [48]:
import item_simirarity as ism
import user_simirarity as usm
from import_data import database

In [49]:
import pandas as pd

In [50]:
user = 65

In [51]:
db = database('localhost', 'root', 'jong1003', 'clothes_recommand')

In [52]:
clothes_columns = ['clothesId', 'fit', 'spring', 'summer', 'autumn', 'winter', 'subCategory', 'mainCategory']
prefrence_columns = ['uid', 'codiId']
codi_clothes_columns = ['codiId', 'clothesId']

In [53]:
clothes_data = pd.DataFrame(db.select_columns('musinsacloset', clothes_columns), columns=clothes_columns)
preference_data = pd.DataFrame(db.select_columns('preference', prefrence_columns), columns=['userId', 'codiId'])
codi_clothes_data = pd.DataFrame(db.select_columns('codi_clothes', codi_clothes_columns), columns=codi_clothes_columns)

In [55]:
codi_clothes_data

      codiId  clothesId
0      26947    2461491
1      26938    2398609
2      26937    2443408
3      26936    2525929
4      26931    2392516
...      ...        ...
1029    5505    1826429
1030    5321    1432205
1031    5317    2023709
1032    5314    1324127
1033    5227    1912820

[1034 rows x 2 columns]

In [56]:
recommand_codies = usm.find_nearest_users(preference_data, user)

In [57]:
recommand_clothes = codi_clothes_data[[(idx in recommand_codies) for idx in codi_clothes_data['codiId']]]

In [58]:
recommand_clothes = list(recommand_clothes['clothesId'])

In [59]:
recommand_clothes_data = clothes_data[[(idx in recommand_clothes) for idx in clothes_data['clothesId']]]

In [86]:
recommand_clothes_data = recommand_clothes_data.reset_index()
recommand_clothes_data = recommand_clothes_data.drop(['index'], axis=1)

In [88]:
recommand_clothes_data = recommand_clothes_data.drop(['level_0'], axis=1)

     clothesId  fit  spring  summer  autumn  winter  subCategory mainCategory
0       411246  2.0       0       0       0       1  숏패딩/숏헤비 아우터          아우터
1      1114854  1.0       1       0       1       1       기타 아우터          아우터
2      1114859  3.0       1       0       1       1       패딩 베스트          아우터
3      1186313  3.0       0       0       1       1      플리스/뽀글이          아우터
4      1186315  3.0       0       0       1       1      플리스/뽀글이          아우터
..         ...  ...     ...     ...     ...     ...          ...          ...
169    2494301  5.0       1       1       1       1          베스트          아우터
170    2512687  1.0       0       1       0       0      민소매 티셔츠           상의
171    2525929  2.0       0       1       0       0          카디건          아우터
172    2534149  2.0       1       1       1       0          베스트          아우터
173    2545362  2.0       0       1       0       0    피케/카라 티셔츠           상의

[174 rows x 8 columns]

In [101]:
def filter_data(data, column, values):
    condition = pd.Series([False]*len(data))
    for value in values:
        condition |= data[column]==value
    return data[list(condition)]

In [102]:
top_data = filter_data(recommand_clothes_data, 'mainCategory', ['상의'])
pants_data = filter_data(recommand_clothes_data, 'mainCategory', ['하의', '스커트'])

In [98]:
data = data.drop(['mainCategory'], axis=1)

In [99]:
data

     clothesId  fit  spring  summer  autumn  winter subCategory
5      1324000  5.0       1       0       1       0   맨투맨/스웨트셔츠
6      1324001  5.0       1       0       1       0   맨투맨/스웨트셔츠
7      1324081  5.0       1       0       1       0      후드 티셔츠
8      1324087  5.0       1       0       1       0      후드 티셔츠
9      1324088  5.0       1       0       1       0      후드 티셔츠
..         ...  ...     ...     ...     ...     ...         ...
162    2400931  2.0       1       1       0       0     민소매 티셔츠
165    2443408  2.0       1       1       1       0     민소매 티셔츠
168    2480498  3.0       1       1       0       0      니트/스웨터
170    2512687  1.0       0       1       0       0     민소매 티셔츠
173    2545362  2.0       0       1       0       0   피케/카라 티셔츠

[76 rows x 7 columns]